* {
   
}

body, #sidebar, #signUpForm {
    display: flex;
    background-image: url();
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-image: url(/image/wallpaper.jpg);
    background-size: cover; 
    width: 50vw;
}

.content-logo {
    width: 100%;
    align-content: center;
}


.logo {
    font-family: 'Norse';
    src: url(./fonts/Norse.otf) format('opentype');
    font-weight: bold;
    font-style: normal;;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 70%;
    padding: 10px;
}

.logo-png {
    margin:auto 0px ;
    height: 80px ;
    width: auto;
}


.font-logo {
    display: flex;
    align-items: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
}


.para {
    font-size: 20px;
    font-weight: bolder ;
    display: flex;
    flex-direction: column;
    padding-right: 20%;
}

#signUpForm {
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-content: center;
    flex-direction: column;
    background-color: azure;
}

.bgForm {
    background-color: white;
    border-radius: 2%;
    padding-bottom: 20px;
    padding-left: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15)
}

.contentForm {
    display: flex;
    flex-direction: column;
}

#first_name, #last_name, #email, #tel, #pwd, #pwd2 {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border-color: 1px ;
    border-style: solid;
}


.name, .emailPhone, .pwd {
    display: flex ;
    justify-content: flex-start ;
    font-size: 9px ;
    margin-bottom: 10px ;
    gap: 20px;
    color: rgb(136, 122, 122);
    font-weight: 600;
}

.title {
    margin-bottom: 20px;
    padding-top: 12px;
    font-size: 20px;
}

button{
    background-color: #596D48;
    border: none;
    padding: 8px 35px;
    border-radius: 5px;
    display: flex;
    margin-left: 40px;
    margin-top: 15px;
    color: white;
}

p {
    margin-left: 40px;
}

input:valid {
    border-color: rgb(180, 166, 166);
}

input:focus {
  outline: none;
  border: 2px solid #094b1a;
  box-shadow: 0 0 0 1px rgba(8, 90, 26, 0.25);
}

input:invalid {
    border-color: rgb(219, 77, 77);
}