* {
    
}

body, #sidebar, #signUpForm {
    display: flex;
    background-image: url();
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-image: url(/image/wallpaper.jpg);
    background-size: cover; 
    width: 50vw;
}

.content-logo {
    width: 100%;
    align-content: center;
}


.logo {
    font-family: 'Norse';
    src: url(./fonts/Norse.otf) format('opentype');
    font-weight: bold;
    font-style: normal;;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 70%;
    padding: 10px;
}

.logo-png {
    margin:auto 0px ;
    height: 80px ;
    width: auto;
}


.font-logo {
    display: flex;
    align-items: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.para {
    padding: 0 40px;
}



#signUpForm {
    margin: 0px;
    display: flex;
    justify-content: center;
    
    align-content: center;
    flex-direction: column;
    background-color: azure;
}

form {
    background-color: white;
    border-radius: 2%;
}

#first_name, #last_name, #email, #tel, #pwd, #pwd2 {
    display: flex;
    flex-direction: row;
}

.name, .emailPhone, .pwd {
    display: flex;

}